@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/fonts/icomoon.eot?-i12a9i');
    src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-i12a9i') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.woff?-i12a9i') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.ttf?-i12a9i') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.svg?-i12a9i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="data"], [class*=" data"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.datahomeicon:before {
    content: "\e600";
}
.datahome2icon:before {
    content: "\e603";
}
.dataimagesicon:before {
    content: "\e604";
}
.datacameraicon:before {
    content: "\e605";
}
.databullhornicon:before {
    content: "\e606";
}
.datafacebookicon:before {
    content: "\e607";
}
.datafacebook2icon:before {
    content: "\e608";
}
.datafacebook3icon:before {
    content: "\e609";
}
.datatwittericon:before {
    content: "\e60a";
}
.datafeedicon:before {
    content: "\e60b";
}
.datafeed2icon:before {
    content: "\e60c";
}
.datafeed3icon:before {
    content: "\e60d";
}
.datagithubicon:before {
    content: "\e60e";
}
.datagithub2icon:before {
    content: "\e60f";
}
.datagithub3icon:before {
    content: "\e610";
}
.datapin-alticon:before {
    content: "\e611";
}
.dataphoneicon:before {
    content: "\e612";
}
.datausericon:before {
    content: "\e613";
}
.datarssicon:before {
    content: "\e614";
}
.datacheckmarkicon:before {
    content: "\e615";
}
.datacrossicon:before {
    content: "\e616";
}
.dataplusicon:before {
    content: "\e617";
}
.datainfoicon:before {
    content: "\e618";
}
.dataplayicon:before {
    content: "\e619";
}
.datarecordicon:before {
    content: "\e61a";
}
.datagithub4icon:before {
    content: "\e61b";
}
.datatwitter2icon:before {
    content: "\e61c";
}
.datafacebook4icon:before {
    content: "\e61d";
}
.datafacebook5icon:before {
    content: "\e61e";
}
.datafacebook6icon:before {
    content: "\e61f";
}
.datagoogleplusicon:before {
    content: "\e620";
}
.datagoogleplus2icon:before {
    content: "\e621";
}
.datapinteresticon:before {
    content: "\e622";
}
.datatumblricon:before {
    content: "\e623";
}
.datatumblr2icon:before {
    content: "\e624";
}
.datalinkedin2icon:before {
    content: "\e601";
}
.datalinkedin3icon:before {
    content: "\e602";
}
.dataskypeicon:before {
    content: "\e625";
}